body {
  background-color: grey;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 780px) {
  .container {
    width: 780px;
  }
}

p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 781px) {
  p {
    max-width: 650px;
  }
}
.header-link {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: blue;
  font-weight: 700;
  text-decoration: none;
  margin-left: 5px;
}

.header-div {
  display: flex;
  align-items: center;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 780px) {
  #header {
    justify-content: center;
  }
}

#header-img {
  width: 45px;
  height: 45px;
  fill: blue;
}

.nav-link {
  border: 2px solid blue;
  border-radius: 20%;
  background-color: blue;
  padding: 15px;
  min-width: 100px;
  color: aliceblue;
  margin-right: 9px;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 780px) {
  .nav-link {
    padding: 5px;
  }
}

.nav-link:hover {
  background-color: blueviolet;
}
.header-list {
  display: flex;
  list-style: none;
}
/*----------- main ------------*/

.main-title {
  font-weight: 700;
  text-align: center;
}
.photos {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (max-width: 780px) {
  .photos {
    align-items: center;
    justify-content: center;
  }
}
.main-img {
  width: 250px;
}
@media screen and (max-width: 780px) {
  .main-img {
    margin-right: 15px;
    max-width: 150px;
  }
}
/* ---------------about----------- */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-title {
  text-align: center;
  font-weight: 700;
}

.about-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 780px) {
  .abjut-div {
    justify-content: center;
  }
}

.about-img {
  margin-bottom: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 780px) {
  .about-img {
    max-width: 270px;
  }
}

.reviews {
  display: flex;
  justify-content: center;
}
#email {
  padding: 15px;
  font-size: 14px;
  line-height: calc(18 / 14);
  border-radius: 4px;
}

#submit {
  width: 100px;
  height: 50px;
  padding: 10px;
  background-color: blue;
  border-radius: 20%;
  margin-left: 15px;
}

#form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
